
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
config/database.yml
config/secrets.yml
vendor
public/uploads
public/portfolio
public/articles
db/migrate

# Ignore Byebug command history file.
.byebug_history
.idea/vagrant.xml
app/jobs/.keep

