article
  margin: 1%
  transition: background-color .3s

  &:hover
    background-color: rgba(60, 60, 60, 0.3)

.articles

  & div.wrapper
    background: asset_url('background/article.jpeg') center no-repeat fixed

  &-body
    background-color: rgba(0, 0, 0, 0.4)
    margin-top: 6em
    margin-bottom: 5em
    padding: 2em
    
    &-photo
      margin-top: 30px

      & a img
        width: 100%

    &-illu
      height: 400px
      overflow-y: hidden
      background: fixed no-repeat bottom

      & img
        width: 100%

    &-header h5
      float: right

    &-link
      text-align: center

    &-content
      color: #fff

      &h2
        font-size: 2.5em
        font-family: Montserrat-Light, sans-serif

      & p
        text-align: justify
        font-family: 'Lato-Regular', sans-serif

  &-header
    font-size: 1.5em

  &-latest
    border-left: solid 1px
    
  &-right::after
    clear: both

.title
  padding: 1px 5px


