// layout.sass

body
  background-color: #3c3c3c
  
.wrapper
  position: relative
  min-height: 100vh
  box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.75)

nav li:hover a
  background-color: transparent !important
  color: $ruby !important
  font-weight: bold !important

.navbar-header button
  color: $ruby
  font-size: 2em

nav.navbar
  padding: 2%

.layout

  &-home
    width: 50px
    list-style-type: none

    &:hover
      transform: rotate(45deg)

footer
  height: 25vh
  padding: 1em

.footer-block
  color: #fff
  & h2
    font-family: 'Montserrat-Regular', sans-serif
    border-bottom: solid 2px
  & a
    color: #fff
    font-weight: bold

    &:hover
      text-decoration: none
      color: $ruby

  &-link
    list-style-type: none
    text-align: right

  &-social
    font-size: 2em