// misc.sass

::selection
  background: #be1818
  color: #fff

.current
  border-style: hidden hidden solid hidden
  border-color: $ruby

.misc
  
  &-circle
    display: none

  &-add
    color: white
    font-size: 20px

  &-actions
    margin: 2% 0 0 3%
    font-size: 2em
    
    &-button
      color: white

      &:hover
        text-decoration: none


.anti-plebe
  display: flex
  justify-content: flex-end
  font-size: 25px
  padding: 4px

  & a
    margin-right: 3px

    &:hover
      text-decoration: none
      font-size: 28px

a:hover
  color: $ruby !important
  text-decoration: none !important

.form-group
  margin-bottom: 3% !important
  
.control-label
  color: #fff

pre
  border: none !important
  background: none !important

.hljs-title
  color: $ruby