.page.about
  & div.wrapper
    background: asset_url('background/snow_day.jpg') fixed center

.page
  &-body
    background-color: rgba(0, 0, 0, 0.3)
    padding: 1%
    margin-bottom: 2em

    &-desc
      text-align: justify