// variables.sass

$ruby: #b02a35

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat-Regular', sans-serif !important
  color: white !important

p, a
  font-family: 'Lato-Regular', sans-serif
  color: #fff !important
  font-size: 1em

a
  color: white
  font-weight: bold

  &:hover
    text-decoration: none
    color: $ruby

  &:visited
    text-decoration: none

    &:hover
      background: none

body
  background-color: #3c3c3c !important