<div class="col-md-10 col-md-offset-1 page-body">

<!--  <p>t ki?</p>
  <%= RUBY_VERSION %><br />
  <%= Gem.loaded_specs["rails"].version.to_s %>-->

  <div class="col-md-6">
    <h1>Joseph Levarato</h1>
  </div>
  <div class="col-md-6">
    <%= image_tag('jochachou') %>
  </div>

  <div class="col-md-4">
    <canvas id="chart1"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="chart2"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="chart3"></canvas>
  </div>

</div>