<div class="col-md-10 col-md-offset-1 page-body">

<!--  <p>t ki?</p>
  <%= RUBY_VERSION %><br />
  <%= Gem.loaded_specs["rails"].version.to_s %>-->

  <div class="col-md-6">
    <h1>Joseph Levarato</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet asperiores dicta magni nisi placeat temporibus totam? Cumque ducimus earum excepturi ipsam, odit ratione reprehenderit soluta! Sint tenetur, unde!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut ea eius esse fuga modi nostrum quam quibusdam quo, vero? Adipisci asperiores aut ea enim illo necessitatibus optio quam sed.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta esse eveniet nihil perspiciatis quo recusandae repellat tenetur vero voluptatibus. Accusamus atque dicta, distinctio eaque excepturi maxime optio perferendis perspiciatis voluptate!
    </p>
  </div>
  <div class="col-md-6">
    <%= image_tag('jochachou') %>
  </div>

  <div class="col-md-4">
    <canvas id="chart1"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="chart2"></canvas>
  </div>
  <div class="col-md-4">
    <canvas id="chart3"></canvas>
  </div>

  <div class="col-md-12">
    <hr>
    <h1>Le site</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab architecto autem consectetur dolore et excepturi inventore laborum laudantium pariatur possimus praesentium quasi quia rem repudiandae sint sunt tempora vero!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab architecto autem consectetur dolore et excepturi inventore laborum laudantium pariatur possimus praesentium quasi quia rem repudiandae sint sunt tempora vero!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ab architecto autem consectetur dolore et excepturi inventore laborum laudantium pariatur possimus praesentium quasi quia rem repudiandae sint sunt tempora vero!
    </p>
  </div>

</div>