$ruby: #b02a35

::selection
  background: #be1818
  color: #fff

body
  background-color: #3c3c3c !important

@font-face
  font-family: Montserrat-Regular
  src: asset_url('fonts/Montserrat-Regular.otf')

@font-face
  font-family: Lato-Regular
  src: asset_url('fonts/Lato-Regular.ttf')

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat-Regular', sans-serif

p, a
  font-family: 'Lato-Regular', sans-serif

a
  font-weight: bold
  color: #fff !important

  &:hover
    text-decoration: none
    background: none

nav li:hover a
  background-color: transparent !important
  color: $ruby !important
  font-weight: bold !important

.navbar-header button
  color: $ruby
  font-size: 2em

nav.navbar
  padding: 2%


@mixin center()
  -webkit-transform: translate(-50%,-50%)
  -ms-transform: translate(-50%,-50%)
  transform: translate(-50%,-50%)
  left: 35%
  top: 25%

body
  background-color: #3c3c3c
// barre de navigation
.layout

  &-home
    width: 50px
    list-style-type: none

    &:hover
      transform: rotate(45deg)

    &:hover
      color: $ruby
      text-decoration: none

.landing
  background: asset_url('background/lyon1080.jpg') center fixed
  height: 100vh

.container
  position: absolute
  @include center()

.title
  font-weight: 800
  color: transparent
  font-size: 120px
  background: asset_url('background/snow_night.jpg') repeat 40% 50%
  -webkit-background-clip: text
  position: relative
  line-height: 90px
  letter-spacing: -10px

.detail
  min-height: 100vh
  background: asset_url('background/foggy.jpg') bottom fixed

  &-icon
    text-align: center
    font-size: 2em

    & p
      font-family: 'Montserrat-Regular', sans-serif
  &-linkblock
    margin-top: 5em
    text-align: center

    &-link
      border: solid 2px
      padding: 15px
      color: white
      font-weight: bold

      &:hover
        color: $ruby !important
        text-decoration: none !important
    
  &-desc
    text-align: justify
    margin-top: 2vh
    padding: 0 4em
    font-family: Lato-Regular

  &-titre
    color: #fff
    font-family: Montserrat-Regular, sans-serif

  &-body
    margin-top: 15vh
    color: #fff
    padding: 0 4em

section
  position: relative
  box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.75)

footer
  min-height: 25vh
  padding: 1em

.footer-block
  color: #fff
  & h2
    font-family: 'Montserrat-Regular', sans-serif
    border-bottom: solid 2px
  & a
    color: #fff
    font-weight: bold

    &:hover
      text-decoration: none
      color: $ruby
      
  &-link
    list-style-type: none
    text-align: right

  &-social
    font-size: 2em
